.table-container {
    width: 100%;
    margin-top: 20px;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th,
    td {
        border-top: 1px solid grey;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        padding: 8px;
        text-align: left;
    }

    th {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    tbody {
        display: block;
    }

    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-bottom: 1px solid grey;
    }

    td img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .trFixed {
        position: fixed;
        width: calc(100% - 248px);
    }

    .td2 {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .td3 {
        width: 150px;
    }

    .age {
        width: 150px;

        span {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .phone {
        width: 200px;
    }

    .aa:last-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .aa {
        padding-right: 10px;

        button {
            background-color: #d50000;
            padding: 3px 25px;
            border-radius: 3px;
            color: white;
            border: none;
            transition: 0.2s;

            &:hover {
                background-color: #9c0000;
            }
        }
    }
}

@media(max-width: 1100px) {
    .table-container {
        width: 100%;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            padding: 8px;
            text-align: left;
        }

        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        tbody {
            display: block;
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid grey;
        }

        td img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .trFixed {
            position: fixed;
            width: calc(100% - 248px);
        }

        .td2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .td3 {
            width: 100px;
        }

        .aa {
            button {
                padding: 3px 10px;
            }
        }

        .age {
            width: 100px;
        }

        .phone {
            width: 150px;
        }
    }
}

@media(max-width: 1000px) {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        // width: 850px;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            padding: 8px;
            text-align: left;
        }

        td {
            font-size: 14px;
        }

        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        tbody {
            display: block;
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid grey;
        }

        td img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .trFixed {
            position: fixed;
            width: calc(100% - 248px);
        }

        .td2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .age {
            width: 90px;
        }

        .port {
            display: none;
        }

        .phone {
            width: 130px;
        }

    }
}

@media(max-width: 850px) {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        // width: 850px;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            padding: 8px;
            text-align: left;
        }

        td {
            font-size: 14px;
        }

        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        tbody {
            display: block;
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid grey;
        }

        td img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .trFixed {
            position: fixed;
            width: calc(100% - 248px);
        }

        .td2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .age {
            width: 50px;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;

                h5 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                p {
                    display: none;
                }
            }
        }

        .port {
            display: none;
        }

        .phone {
            width: 110px;
        }

    }
}

@media(max-width: 700px) {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        // width: 850px;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            padding: 8px;
            text-align: left;
        }

        td {
            font-size: 14px;
        }

        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        tbody {
            display: block;
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid grey;
        }

        td img {
            border-radius: 50%;
            width: 40px;
            object-fit: cover;
            height: 40px;
        }

        .trFixed {
            position: fixed;
            width: calc(100% - 27px);
        }

        .td2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .age {
            width: 90px;
        }

        .port {
            display: none;
        }

        .phone {
            width: 130px;
        }
    }
}

@media(max-width: 600px) {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        width: 600px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            padding: 8px;
            text-align: left;
        }

        td {
            font-size: 14px;
        }

        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        tbody {
            display: block;
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid grey;
        }

        td img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .trFixed {
            position: static;
            width: 100%;
        }

        .none {
            display: none;
        }

        .td2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .age {
            width: 100px;

            span {
                display: flex;
                flex-direction: row;
                align-items: center;

                h5 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                p {
                    display: block;
                }
            }
        }

        .port {
            display: none;
        }

        .phone {
            width: 130px;
        }
    }
}